body {
    margin: 0;
    padding: 0;
    background-color: black ;
    color: #FCAF02;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 64px;
  }
  

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCAF02;
    color: #333;
    height: 86px;
    padding: 0 20px;
  }
  
  .logo a {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    font-size: 28px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav-links li a:hover {
    color: rgb(0, 0, 0);
  }

  button {
    width: 329px;

	margin-top: 20px;
	padding: 10px 20px;
    border-radius: 200px;
    font-size: 32px;
    border: none;
    background: #FCAF02;
    font-weight: bold;
}

form{
    padding: 50px 50px;
}


  
  
  form input[type="text"],
  form input[type="email"] {
    display: inline-block;
    height: 82px;

    box-sizing: border-box;
    padding: 5px;
    border-radius: 200px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
    border-color: #FCAF02;
    width: 100%;
    font-size: 32px;
 
  
  }
  form input:focus {
    padding-left: 50px;
    outline: none;
    border-color: none;
}
form input:focus::placeholder {
  opacity: 0;

}
  form input::placeholder{
    padding-left: 50px;
    color: #FCAF02;
    font-size: 28px;
  }
  
  form input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .row {
    display: flex;
    column-gap: 80px;
  }

  .table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
  }

  table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    border: 1px solid #FCAF02;
    text-align: left;
    padding: 8px;
    color: #FCAF02;
    font-size: 28px;
    font-weight: none;
  }
  
  th {

    font-weight: bold;
  }
  th,tfoot td{
    padding-left: 40px;
    background-color: #FCAF02;
    color: black;
    font-weight: 600;
    border: 1.5px solid black;

}
  
  
 
  
  